html,body{
    background-color: #afebff;
}
input{
    border: none;
}
header{
    width: 37.5rem;
    height: 24.25rem;
    background: url("../images/headerBg.png") center no-repeat;
    background-size: cover;
}
section .tabTitle{
    padding-top: 1.3rem;
    background: url("../images/11_02.png") center no-repeat;
    background-size: cover;
}
section .tabTitle ul{
    margin: 0 auto;
    box-sizing: border-box;
    width: 20rem;
    border-radius: 2rem;
}
section .tabTitle ul li{
    box-sizing: border-box;
    float: left;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.8rem;
    color: #2294ff;
    border: 2px solid #2294ff;
}
section .tabTitle ul li:first-child{
    border-right: 0;
    border-radius: 3rem 0 0 3rem;
}
section .tabTitle ul li:last-child{
    border-left: 0;
    border-radius: 0 3rem 3rem 0;
}
section .tabTitle ul li.active{
    color: #ffffff;
    background-color: #2294ff;
}
section .xs{
    position: relative;
}
section .xs>div:nth-child(1){
    margin: 0 auto;
    width: 30rem;
    background-color: #afeaff;
}
section .swiper-container{
    margin: 2.25rem auto 2.3rem;
}
section .xs .swpBg{
    position: absolute;
    left: 0;
    right: 0;
    top: -1.6rem;
    margin: auto;
    width: 31.55rem;
    height: 4.7rem;
    background: url("../images/swpBg.png") center no-repeat;
    background-size: cover;
    z-index: 999;
}
section .swiper-container .swiper-wrapper .swiper-slide img{
    width: 18.55rem;
    height: 11.4rem;
}
section .xstq.fir{
    box-sizing: border-box;
    width: 37.5rem;
    height: 47.6rem;
    background: url("../images/xsBg.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqTitle{
    margin: 0 auto;
    width: 16.1rem;
    height: 4.45rem;
    background: url("../images/xinshengtq.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqTitle.tj{
    margin-bottom: 1rem;
    width: 14.6rem;
    height: 3.4rem;
    background: url("../images/remenTitle.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox{
    box-sizing: border-box;
    margin: 0 auto;
    width: 34.7rem;

}
section .xstq .xstqBox ul{
    margin: 0 auto;
    padding-top: 1.4rem;
    padding-bottom: 2rem;
    width: 34.95rem;
}
section .xstq .xstqBox ul li{
    position: relative;
    float: left;
    width: 17.05rem;
    height: 9.55rem;
}
section .xstq .xstqBox ul li:nth-child(odd){
    margin-right: 0.85rem;
    margin-bottom: 0.55rem;
}
section .xstq .xstqBox ul li:nth-child(1){
    background: url("../images/xska-1_03.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li:nth-child(2){
    background: url("../images/xs-tongxue_05.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li:nth-child(3){
    background: url("../images/xska-2_03.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li:nth-child(4){
    background: url("../images/xska-3_08.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li:nth-child(5){
    background: url("../images/xs-lvyou_03.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li:nth-child(6){
    background: url("../images/xs-yinhang.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li:nth-child(7){
    background: url("../images/xs-meituan_03.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li:nth-child(8){
    background: url("../images/xs-huishou.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li.tj1{
    margin-right: 0.85rem;
    margin-bottom: 0.85rem;
    background: url("../images/f-ico-1.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li.tj2{
    margin-bottom: 0.85rem;
    background: url("../images/f-ico-2.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li.tj3{
    margin-right: 0.85rem;
    background: url("../images/f-ico-3.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li.tj4{
    background: url("../images/f-ico-4.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox ul li span{
    position: absolute;
    left: 1rem;
    bottom: 0.85rem;
    display: block;
    width: 4.45rem;
    height: 1.65rem;
    background: url("../images/GO.png") center no-repeat;
    background-size: cover;
}
section .sjzd{
    width: 37.5rem;
    height: 21rem;
    background: url("../images/zhongduanBg_05.png") center no-repeat;
    background-size: cover;
}
section .sjzd .zdTitle{
    margin: 0 auto;
    width: 16.85rem;
    height: 3.55rem;
    background: url("../images/shoujizd.png") center no-repeat;
    background-size: cover;
}
section .sjzd .zdBox{
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: .75rem;
    width: 34.85rem;
}
section .sjzd .zdBox span{
    display: block;
    margin: 0 auto;
    width: 34.85rem;
    height: 16.75rem;
    background: url("../images/sjzdPic.png") center no-repeat;
    background-size: cover;
}
section .more .moreTitle{
    margin: 2.5rem auto 0;
    width: 14.6rem;
    height: 3.45rem;
    background: url("../images/more.png") center no-repeat;
    background-size: cover;
}
section .more .more-ico ul{
    box-sizing: border-box;
    margin: 2.1rem auto;
    width: 35.1rem;
    height: 16.35rem;
    border-radius: 1rem;
    border: 1.2rem solid #4a97ff;
    box-shadow: 10px 10px 10px #003dac;
}
section .more .more-ico ul li{
    float: left;
    padding-bottom: 4rem;
    width: 25%;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}
section .more .more-ico ul li span:nth-child(1){
    margin: 2.5rem auto 1rem;
    display: block;
    width: 4.85rem;
    height: 5.65rem;
}
section .more .more-ico ul li:nth-child(1) span:nth-child(1){
    background: url("../images/f-ico-1.png") center no-repeat;
    background-size: cover;
}
section .more .more-ico ul li:nth-child(2) span:nth-child(1){
    position: relative;
    background: url("../images/f-ico-2.png") center no-repeat;
    background-size: cover;
}
section .more .more-ico ul li i{
    display: block;
}
section .more .more-ico ul li:nth-child(2) div{
    position: absolute;
    top: -1.2rem;
    left: 3.2rem;
    width: 2.6rem;
    height: 1.45rem;
    background: url("../images/hot.png") center no-repeat;
    background-size: cover;
}
section .more .more-ico ul li:nth-child(3) span:nth-child(1){
    background: url("../images/f-ico-3.png") center no-repeat;
    background-size: cover;
}
section .more .more-ico ul li:nth-child(3) span:nth-child(2){
    line-height: 1.75rem;
}
section .more .more-ico ul li:nth-child(4) span:nth-child(1){
    background: url("../images/f-ico-4.png") center no-repeat;
    background-size: cover;
}
section .more .more-ico ul li span{
    display: block;
}
section .more .more-ico ul li i{
    font-style: normal;
    font-size: 1rem;
}
section .ls{
    display: none;
}
section .ls .lsB-box{
    width: 37.5rem;
    height: 27.2rem;
    background: url("../images/laoshengBox_02.png") center no-repeat;
    background-size: cover;
}
section .ls .lsT-box{
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 1.2rem;
    width: 34.7rem;
}
section .ls .lsT-box span{
    display: block;
    margin: 0 auto;
    width: 33.1rem;
    height: 16.75rem;
    background: url("../images/ls-T-pic.png") center no-repeat;
    background-size: cover;
}
section .ls .lsB-box .lsB-boxTitle{
    margin: 1.65rem auto 0.75rem;
    width: 14.6rem;
    height: 3.65rem;
    background: url("../images/laoshengtq.png") center no-repeat;
    background-size: cover;
}
section .ls .lsB-box .lsB-boxPic{
    box-sizing: border-box;
    padding-top: 1rem;
    margin: 0 auto;
    width: 34.95rem;
}
section .ls .lsB-box .lsB-boxPic ul li{
    position: relative;
    float: left;
    width: 17.05rem;
    height: 9.55rem;
}
section .ls .lsB-box .lsB-boxPic ul li:nth-child(1){
    margin-right: 0.85rem;
    margin-bottom: 0.65rem;
    background: url("../images/lska-1.png") center no-repeat;
    background-size: cover;
}
section .ls .lsB-box .lsB-boxPic ul li:nth-child(2){
    background: url("../images/xska-2_03.png") center no-repeat;
    background-size: cover;
}
section .ls .lsB-box .lsB-boxPic ul li:nth-child(3){
    margin-right: 0.85rem;
    background: url("../images/xs-meituan_03.png") center no-repeat;
    background-size: cover;
}
section .ls .lsB-box .lsB-boxPic ul li:nth-child(4){
    background: url("../images/xs-huishou.png") center no-repeat;
    background-size: cover;
}
section .ls .lsB-box .lsB-boxPic ul li span{
    position: absolute;
    display: block;
    left: 1rem;
    bottom: 0.85rem;
    display: block;
    width: 4.45rem;
    height: 1.65rem;
    background: url("../images/GO.png") center no-repeat;
    background-size: cover;
}
section .xstq .xstqBox.foo ul{
    padding-bottom: 0;
    width: 32.05rem;
}
section .xstq .xstqBox.foo ul li{
    width: 15.6rem;
    height: 8.75rem;
}
section .erweima{
    box-sizing: border-box;
    width: 37.5rem;
    height: 44.3rem;
    background: url("../images/footerBg.png") center no-repeat;
    background-size: cover;
    padding-top: 1rem;
}
section .erweima ul li{
    float: left;
    width: 18.75rem;
    text-align: center;
}
section .erweima ul li div{
    margin: .5rem auto .5rem;
    width: 8.9rem;
    height: 8.9rem;
}
section .erweima ul li div img{
    width: 8.9rem;
    height: 8.9rem;
}
section .erweima ul li p{
    font-size: 1rem;
    color: #0086ff;
}
section .erweima ul li p:nth-child(1){
    font-size: 1.3rem;
    color: #ff5353;
}
section .erweima ul li p:nth-child(1) span{
    font-size: 1.1rem;
}
section .erweima ul li p:nth-child(2){
    font-size: 1rem;
    color: #ff5353;
}