html,body{
    background-color: #f1f1f1;
}
.title{
    box-sizing: border-box;
    position: relative;
    width: 37.5rem;
    height: 4.4rem;
    font-size: 2.1rem;
    line-height: 4.4rem;
    text-align: center;
    color: #ffffff;
    background-color: #0185cf;
}
.title span{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.title span:nth-child(1){
    left: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    background: url("../images/back.png") center no-repeat;
    background-size: cover;
}
.title span:nth-child(2){
    left: 4.1rem;
    font-size: 1.3rem;
    line-height: 4.4rem;
}
.welcomeTextBox{
    padding: 1.1rem 0 1.8rem;
    font-size: 1.5rem;
    text-align: center;
    color: #333333;
}
.content{
    margin: 0 auto;
    width: 35.6rem;
}
.content.one div:nth-child(1){
    position: relative;
    height: 4.05rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 4.05rem;
    color: #ffffff;
    background-color: #0185cf;
}
.content.one div:nth-child(1) span:nth-child(1){
    position: absolute;
    left: 3.4rem;
}
.content.one div:nth-child(2){
    height: 6.25rem;
    background-color: #ffffff;
}
.content.one div:nth-child(2) ul li{
    float: left;
    display: block;
    width: 11.3rem;
    height: 6.25rem;
    text-align: center;
    line-height: 6.25rem;
    font-size: 1.5rem;
    color: #333333;
}
.content.one div:nth-child(2) ul li:nth-child(2){
    width: 13rem;
}
.content.one div:nth-child(2) ul li:first-child{
    box-sizing: border-box;
    padding-top: 1.125rem;
}
.content.one div:nth-child(2) ul li:first-child p{
    line-height: 2rem;
}
.content.one div:nth-child(2) ul li:first-child p:nth-child(2){
    font-size: 1.2rem;
}
.content.one div:nth-child(2) ul li:last-child span{
    display: inline-block;
    box-sizing: border-box;
    width: 5.4rem;
    height: 2.4rem;
    line-height: normal;
    color: #0185cf;
    border: 2px solid #0185cf;
    border-radius: 0.5rem;
}
.content.one div:nth-child(2) ul li:nth-child(2){
    display: flex;
    align-items: center;
    width: 16rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.content.one div:nth-child(2) ul li:nth-child(3){
    width: 8rem;
}
.content.one div:nth-child(2) ul li:nth-child(2) p{
    word-break: break-all;
}
.content.secTitle{
    position: relative;
    box-sizing: border-box;
    padding-left: 1rem;
    height: 3.75rem;
    line-height: 3.75rem;
}
.content.secTitle span{
    position: absolute;
    left: 0.25rem;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 0.3rem;
    height: 1.5rem;
    background-color: #0185cf;
}
.content.secTitle p{
    font-size: 1.5rem;
}
.content.two{
    box-sizing: border-box;
    padding:0.5rem 0.7rem 0.7rem 0.7rem;
    font-size: 1.1rem;
    line-height: 2rem;
    background-color: #ffffff;
}
.content.two p:nth-child(2){
    text-indent: 1.1rem;
}
.fir,.sec,.fou,.fif,.six,.sev,.eig,.nin,.ten{
    display: none;
}
#fou,#fif,#six,#sev,#eig,#nin,#ten{
    display: none;
}
#fir,#sec,#thir,#fou,#fif,#six,#sev,#eig,#nin,#ten{
    position: relative;
}
#fir div:nth-child(1) span:nth-child(3),#sec div:nth-child(1) span:nth-child(3),#thir div:nth-child(1) span:nth-child(3),#fou div:nth-child(1) span:nth-child(3),#fif div:nth-child(1) span:nth-child(3),#six div:nth-child(1) span:nth-child(3),#sev div:nth-child(1) span:nth-child(3),#eig div:nth-child(1) span:nth-child(3),#nin div:nth-child(1) span:nth-child(3),#ten div:nth-child(1) span:nth-child(3){
    position: absolute;
    right: 1.8rem;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1.3rem;
    height: 0.75rem;
    background: url("../images/jiantou.png") center no-repeat;
    background-size: cover;
}
input{
    border:none;
}